# xFiles Environment Variables
JWT_SECRET=supersecretjwtkeyforxfilesapp
SMTP_HOST=smtp.zoho.in
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=admin@conzex.com
SMTP_PASS=Sumit@zohomail.com123
SMTP_FROM=no-reply@conzex.com
